Repository redhatci/ansible-collection-redhatci-ocp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhatci/all, @redhatci/dci, @redhatci/baremetaldeploy, @redhatci/crucible, @redhatci/verification, @redhatci/platform, @redhatci/ztp, @redhatci/maintain

.github/CODEOWNERS:

# Global owners
*                                    @redhatci/all

# most of the roles come from legacy DCI, last match wins
/roles                               @redhatci/dci

# Legacy baremetal-kni roles
/roles/node_prep                     @redhatci/baremetaldeploy
/roles/installer                     @redhatci/baremetaldeploy

# Legacy crucible roles
/roles/apply_nmstate                 @redhatci/crucible
/roles/approve_csrs                  @redhatci/crucible
/roles/boot_disk                     @redhatci/crucible
/roles/boot_iso                      @redhatci/crucible
/roles/create_vms                    @redhatci/crucible
/roles/destroy_vms                   @redhatci/crucible
/roles/extract_openshift_installer   @redhatci/crucible
/roles/generate_agent_iso            @redhatci/crucible
/roles/generate_manifests            @redhatci/crucible
/roles/generate_ssh_key_pair         @redhatci/crucible
/roles/insert_dns_records            @redhatci/crucible
/roles/monitor_agent_based_installer @redhatci/crucible
/roles/mount_discovery_iso_for_pxe   @redhatci/crucible
/roles/populate_mirror_registry      @redhatci/crucible
/roles/prereq_facts_check            @redhatci/crucible
/roles/process_kvm_nodes             @redhatci/crucible
/roles/process_nmstate               @redhatci/crucible
/roles/setup_http_store              @redhatci/crucible
/roles/setup_mirror_registry         @redhatci/crucible
/roles/setup_ntp                     @redhatci/crucible
/roles/setup_selfsigned_cert         @redhatci/crucible
/roles/setup_sushy_tools             @redhatci/crucible
/roles/setup_tftp                    @redhatci/crucible
/roles/setup_vm_host_network         @redhatci/crucible
/roles/validate_dns_records          @redhatci/crucible
/roles/validate_http_store           @redhatci/crucible
/roles/vendors                       @redhatci/crucible

# verification team
/roles/jenkins_job_launcher          @redhatci/verification
/roles/junit2json                    @redhatci/verification
/roles/test_report_send              @redhatci/verification

# platform team
/roles/sideload_kernel               @redhatci/platform

# ztp
/roles/acm_spoke_mgmt                @redhatci/ztp
/roles/configure_ztp_gitops_repo     @redhatci/ztp
/roles/configure_ztp_gitops_apps     @redhatci/ztp
/roles/gitops_configure_repo         @redhatci/ztp
/roles/install_operator_gitops       @redhatci/ztp
/roles/remove_ztp_gitops_resources   @redhatci/ztp

# maintainers
/.github                             @redhatci/maintain

mirror_ocp_release: fixes for concurrent jobs
  roles/mirror_ocp_release/tasks/artifacts.yml
  roles/mirror_ocp_release/tasks/facts.yml
  roles/mirror_ocp_release/tasks/fetch.yml
  roles/mirror_ocp_release/tasks/files.yml
  roles/mirror_ocp_release/tasks/images.yml
  roles/mirror_ocp_release/tasks/main.yml
  roles/mirror_ocp_release/tasks/registry.yml
Owners: @redhatci/dci

Update agent manifest rendering
  roles/generate_manifests/templates/agent-config.yaml.j2
  roles/process_nmstate/templates/nmstate.yml.j2
Owners: @redhatci/crucible

Set default user for kubeadmin
  roles/acm/utils/tasks/get-credentials.yml
  roles/acm_hypershift/tasks/create-cluster.yml
Owners: @redhatci/dci

Split tasks for HCP and non-HCP clusters
  roles/acm/utils/tasks/get-credentials.yml
Owners: @redhatci/dci

Fix typo on task file name
  roles/acm/utils/meta/argument_specs.yml
Owners: @redhatci/dci

define local_storage_devices
  roles/odf_setup/defaults/main.yml
Owners: @redhatci/dci

Update roles/odf_setup/defaults/main.yml
  roles/odf_setup/defaults/main.yml
Owners: @redhatci/dci

Move the monitoring installation to acm.utils
  ansible-collection-redhatci-ocp.spec
  galaxy.yml
  roles/acm/utils/README.md
  roles/acm/utils/defaults/main.yml
  roles/acm/utils/meta/argument_specs.yml
  roles/acm/utils/tasks/monitor-install.yml
  roles/acm_sno/defaults/main.yml
  roles/acm_sno/tasks/force-disk-boot.yml
  roles/acm_sno/tasks/main.yml
  roles/acm_sno/tasks/monitor-install.yml
Owners: @redhatci/all, @redhatci/dci

Allow pods not managed by systemd and without root
  roles/setup_http_store/README.md
  roles/setup_http_store/defaults/main.yml
  roles/setup_http_store/tasks/main.yml
Owners: @redhatci/crucible

example-cnf | Add support for grout-operator
  roles/example_cnf_deploy/README.md
  roles/example_cnf_deploy/defaults/main.yml
  roles/example_cnf_deploy/scripts/get-example-cnf-results.sh
  roles/example_cnf_deploy/scripts/get-example-cnf-status.sh
  roles/example_cnf_deploy/tasks/deploy.yml
  roles/example_cnf_deploy/tasks/deploy/app.yml
  roles/example_cnf_deploy/tasks/deploy/net-config.yml
  roles/example_cnf_deploy/tasks/deploy/sub.yml
  roles/example_cnf_deploy/tasks/deploy_extra_trex.yml
  roles/example_cnf_deploy/tasks/draining.yml
  roles/example_cnf_deploy/tasks/main.yml
  roles/example_cnf_deploy/tasks/trex/app.yml
  roles/example_cnf_deploy/tasks/validate/migrate.yml
  roles/example_cnf_deploy/tasks/validate/pod-delete.yml
  roles/example_cnf_deploy/templates/grout-cr.yaml.j2
  roles/example_cnf_deploy/templates/trex-app-cr.yaml.j2
  roles/example_cnf_deploy/templates/trex-app-job.yaml.j2
  roles/sriov_config/templates/sriov-network.yml.j2
Owners: @redhatci/dci

[odf_setup] allow to define the number of devicesets for OCS
  roles/odf_setup/README.md
  roles/odf_setup/templates/openshift-storage-cluster.yml.j2
Owners: @redhatci/dci

Increase wait time to check nfs-client-provisioner pod
  roles/nfs_external_storage/tasks/main.yml
Owners: @redhatci/dci
